.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(10px,2vw,29px);
    height: 209px;
    background-color: black;
    & img{
        width: 122px;
        padding-top: 66px;
    }

    & p {
        font-size: clamp(12px,2vw,20px);
        color: white;
        max-width: clamp(140px,50vw,500px);
        text-align: center;
    }
}