.header-container {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}


.navbar {
    display: flex;
    flex-direction: row;
    gap: 57px;

    & a{
        font-size: 24px;
        color: #FF6060;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}



.link-container{
    box-sizing: content-box;
    position: relative
}

.home-link {
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
}

