.productlist-container {
    display: grid;
    justify-content: center;
    row-gap: 50px;
    column-gap: 60px;
    grid-template-columns: repeat(3,30%);
    margin-bottom: clamp(20px,4vw,45px);
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    @media (max-width:1024px) {
        grid-template-columns: repeat(1,100%);
        padding: 0;
        background-color: white;
        row-gap: 20px;
    }
   

}

.product-card{
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
    @media (max-width:1024px) {

        aspect-ratio: auto;
        height: clamp(255px,80vw,340px);
        
    }
    & h3{
        z-index: 3;
        margin-left: 20px;
        font-size: clamp(15px,3vw,18px);
        font-weight: 400;
        width: 50%;
        margin-bottom: 20px;
    }
    &::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        pointer-events: none;

    }
}
